/* Variables */
:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --colour1: #03045E;
    --colour2: #CAF0F8;
}

/* Limiting the main-container to 72em max width and centring in the viewport */
.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: Inter;
    color: var(--white-font);
}

.banner {
    background-color: var(--colour1);
    padding: 1em;
}

.banner-title {
    font-size: 3em;
}

.banner-subtitle {
    font-size: 2.25em;
    padding-left: .2rem;
}

.card {
    background-color: var(--colour2);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1em; /* This curves the corners of the container */
}

.card-image {
    width: 100%;
    height: 24em;
    object-fit: cover; /* This stops the images from being stretched to fill the area */
    border-radius: 1em 1em 0 0; /* This curves the top 2 corners of the image */
}

.card-blurb {
    padding: 1em;
    padding-top: 1.3em;
    text-align: center;
    color: var(--black-font);
}

.footer {
    background-color: var(--colour1);
    font-size: 1.25em;
    text-align: center;
    padding-top: 2.25rem;
}

#cardImage7 {
    object-position: 50% 70%; /* This changes the anchor point on image7 */ 
}

/* Names for the grid areas for specific elements */
#banner {
    grid-area: ban;
}

#card1 {
    grid-area: c1;
}

#card2 {
    grid-area: c2;
}

#card3 {
    grid-area: c3;
}

#card4 {
    grid-area: c4;
}

#cardImage4 {
    grid-area: ci4;
}

#cardBlurb4 {
    grid-area: cb4;
    display: flex; /* This is to center the text */
    justify-content: center;
    align-items: center;
}

#cardCredit4 {
    grid-area: cc4;
}

#card5 {
    grid-area: c5;
}

#card6 {
    grid-area: c6;
}

#card7 {
    grid-area: c7;
}

#card8 {
    grid-area: c8;
}

#cardImage8 {
    grid-area: ci8;
}

#cardBlurb8 {
    grid-area: cb8;
    display: flex; /* This is to center the text */
    justify-content: center;
    align-items: center;
}

#cardCredit8 {
    grid-area: cc8;
}

#footer {
    grid-area: foo;
}
  
/* Mobile Layout */
.main-container {
    display: grid;
    column-gap: 1em;
    grid-template:
        "ban ban ban ban" minmax(6em, auto)
        " .   .   .   . " minmax(2em, auto)
        " c1  c1  c1  c1" minmax(28em, auto)
        " .   .   .   . " minmax(2em, auto)
        " c2  c2  c2  c2" minmax(28em, auto)
        " .   .   .   . " minmax(2em, auto)
        " c3  c3  c3  c3" minmax(28em, auto)
        " .   .   .   . " minmax(2em, auto)
        " c4  c4  c4  c4" minmax(28em, auto)
        " .   .   .   . " minmax(2em, auto)
        " c5  c5  c5  c5" minmax(28em, auto)
        " .   .   .   . " minmax(2em, auto)
        " c6  c6  c6  c6" minmax(28em, auto)
        " .   .   .   . " minmax(2em, auto)
        " c7  c7  c7  c7" minmax(28em, auto)
        " .   .   .   . " minmax(2em, auto)
        " c8  c8  c8  c8" minmax(28em, auto)
        " .   .   .   . " minmax(2em, auto)
        "foo foo foo foo" minmax(6em, auto);
}

/* Ipad Layout */
@media (min-width: 50em) {
    .main-container {
        grid-template:
            "ban ban ban ban ban ban ban ban" minmax(8em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            " c1  c1  c1  c1  c2  c2  c2  c2" minmax(28em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            " .   .   c3  c3  c3  c3  .   . " minmax(28em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " c4  c4  c4  c4  c4  c4  c4  c4" minmax(36em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " c5  c5  c5  c5  c6  c6  c6  c6" minmax(28em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            " .   .   c7  c7  c7  c7  .   . " minmax(28em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " c8  c8  c8  c8  c8  c8  c8  c8" minmax(40em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "foo foo foo foo foo foo foo foo" minmax(6em, auto);
    }

    #cardImage4 {
        height: 28em;
    }

    #cardImage8 {
        height: 28em;
    }
}

/* Desktop layout */
@media (min-width: 75em) {
    .main-container {
        grid-template:
            "ban ban ban ban ban ban ban ban ban ban ban ban" minmax(8em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            " c1  c1  c1  c1  c2  c2  c2  c2  c3  c3  c3  c3" minmax(28em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " c4  c4  c4  c4  c4  c4  c4  c4  c4  c4  c4  c4" minmax(24em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " c5  c5  c5  c5  c6  c6  c6  c6  c7  c7  c7  c7" minmax(28em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " c8  c8  c8  c8  c8  c8  c8  c8  c8  c8  c8  c8" minmax(24em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "foo foo foo foo foo foo foo foo foo foo foo foo" minmax(6em, auto);
    }

    /* This section is to layout card 4 & 8 */ 
    #card4 {
        display: grid;
        column-gap: 1em;
        grid-template: 
            "ci4 ci4 ci4 ci4 ci4 ci4 cb4 cb4 cb4 cb4 cb4 cb4" minmax(20em, auto)
            "ci4 ci4 ci4 ci4 ci4 ci4 cc4 cc4 cc4 cc4 cc4 cc4" minmax(2em, auto);
    }

    #cardImage4 {
        width: 36.5em;
        height: 24em;
        border-radius: 1em 0  0 1em;
    } 

    #card8 {
        display: grid;
        column-gap: 1em;
        grid-template: 
            "ci8 ci8 ci8 ci8 ci8 ci8 cb8 cb8 cb8 cb8 cb8 cb8" minmax(20em, auto)
            "ci8 ci8 ci8 ci8 ci8 ci8 cc8 cc8 cc8 cc8 cc8 cc8" minmax(2em, auto);
    }

    #cardImage8 {
        width: 36.5em;
        height: 24em;
        border-radius: 1em 0  0 1em;
    }
}
